<div class="container">
  <h1>My Thoughts</h1>
  <button id="thoughts">New Thought</button>
</div>

<section class="secondBox">
  <ul>
    <li *ngFor="let post of posts; index as i">
      <h4>{{post.title}}</h4>
      <p>{{post.thought}}</p>
    </li>
  </ul>
</section>

<section class="thirdBox">
  <form (ngSubmit)="addPost()">
    <label for="title">Title: </label>
    <input [(ngModel)]="newPosts.title" name="title">
    <label for="thought">Thought: </label>
    <input [(ngModel)]="newPosts.thought" name="thought">
    <button type="submit" id="add">Add Thought</button>
  </form>

</section>
